/* CSS для админки */

.cursor-pointer { cursor: pointer; }

/* JSON attrs control */
#jsonattr .has-error input, .has-error select { border: 1px solid #d44837; }
#jsonattr .has-error label { color: #a94442; }

/* Img upload control */
.form-group .hide { display: none; }
.form-group .image .btn-group { margin-top: 10px; }
.form-group img { max-width: 100%; /* This rule is very important, please do not ignore this! */ }
.form-group .img-container, .img-preview { width: 100%; text-align: center; }
.form-group .img-preview { float: left; margin-right: 10px; margin-bottom: 10px; overflow: hidden; }
.form-group .preview-lg { width: 263px; height: 148px; }
.form-group .btn-file { position: relative; overflow: hidden; }
.form-group .btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block; }

/* Img multiple upload component */
#custom-image-multi .images-container li { list-style: none; display: inline-block; position: relative; margin-right: 5px; }
#custom-image-multi .images-container img { max-width: 90px; max-height: 90px; }
#custom-image-multi .images-container .clear-button { position: absolute; z-index: 5; top: 0; right: 0; line-height: 24px; padding: 0 7px; background: rgba(0, 0, 0, 0.3); color: white; }
#custom-image-multi .images-container .clear-button:hover { background: rgba(0, 0, 0, 0.5); cursor: pointer; }
#custom-image-multi .img-preview { display: block; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; transform: none; }